<c-modal
  size="lg"
  *ngIf="visible"
  alignment="center"
  id="modalHistorialRut"
  backdrop="static"
  [visible]="modalHistorialRut"
  ><c-modal-header>
    <h5 cModalTitle class="text-uppercase">Historial</h5>
    <button class="custom-button-close-modal" cButtonClose (click)="close()"></button>
  </c-modal-header>
  <c-modal-body>
    <ng-container *ngIf="nombre; else loadingTemplate">
      <c-container>
        <c-row>
          <c-col xs="6" sm="3">
            <label cLabel>Cupón</label>
            <input cInput type="text" [value]="cupon" disabled />
          </c-col>
          <c-col xs="6" sm="3">
            <label>Rut</label>
            <input cInput type="text" [value]="rutCliente" disabled />
          </c-col>
          <c-col xs="6" sm="3">
            <label cLabel>Fecha Venta</label>
            <input cInput type="text" [value]="fechaVenta" disabled />
          </c-col>
          <c-col xs="6" sm="3">
            <label cLabel>Nombre</label>
            <textarea cInput type="text" [value]="nombre" disabled rows="2"></textarea>
          </c-col>
        </c-row>
      </c-container>
      <c-row>
        <app-custom-table [items]="detallesRut"></app-custom-table>
      </c-row>
      <c-container>
        <c-row>
          <c-col xs="6" sm="3">
            <label cLabel>Total Abonado</label>
            <input cInput type="text" [value]="totalAbonado | currency: 'CLP'" disabled />
          </c-col>

          <c-col xs="6" sm="3">
            <label cLabel>Saldo por cobrar</label>
            <input cInput type="text" [value]="saldoPorCobrar | currency: 'CLP'" disabled />
          </c-col>

          <c-col xs="6" sm="3">
            <label cLabel>Venta por el total</label>
            <input cInput type="text" [value]="ventaTotal | currency: 'CLP'" disabled />
          </c-col>

          <c-col xs="6" sm="3">
            <label cLabel>Cuotas restantes</label>
            <input cInput type="text" [value]="cuotasRestantes" disabled />
          </c-col>
        </c-row>
      </c-container>
    </ng-container>

    <ng-template #loadingTemplate>
      <c-row class="d-flex justify-content-center p-3">
        <c-spinner color="primary"></c-spinner>
        <span class="ms-2">Cargando historial...</span>
      </c-row>
    </ng-template>
  </c-modal-body>
  <c-modal-footer> </c-modal-footer>
</c-modal>
