<h1>Cartola {{ titulo }}</h1>
<c-container>
  <c-row class="mb-3">
    <c-col lg="5">
      <c-date-range-picker
        [(startDate)]="startDate"
        [(endDate)]="endDate"
        (startDateChange)="loadData()"
        (endDateChange)="loadData()"
      />
    </c-col>
  </c-row>

  <ng-container *ngIf="!isLoading; else loadingTemplate">
    <c-row class="mb-3" *ngIf="!isLoading && registrosTbk && registrosTbk.length > 0">
      <c-col>
        <div>
          <button
            cLoadingButton
            [loading]="isExporting"
            disabledOnLoading
            cButton
            color="primary"
            (click)="Exportar()"
          >
            Exportar a excel
          </button>
        </div>
      </c-col>
    </c-row>

    <app-custom-table [items]="registrosTbk"></app-custom-table>

    <c-row *ngIf="totalesTbk" class="mt-4">
      <c-col sm="6" lg="4" *ngIf="totalesTbk.saldoTotalVentas > 0">
        <c-widget-stat-a class="mb-3" color="info" title="Total Ventas">
          <ng-template cTemplateId="widgetValueTemplate">
            <span class="fs-4">
              {{ totalesTbk.saldoTotalVentas | currency: 'CLP' : 'symbol-narrow' : '1.0-0' }}
            </span>
          </ng-template>
        </c-widget-stat-a>
      </c-col>
      <c-col sm="6" lg="4" *ngIf="totalesTbk.saldoEstimado > 0">
        <c-widget-stat-a class="mb-3" color="success" title="Total Abonos">
          <ng-template cTemplateId="widgetValueTemplate">
            <span class="fs-4">
              {{ totalesTbk.saldoEstimado | currency: 'CLP' : 'symbol-narrow' : '1.0-0' }}
            </span>
          </ng-template>
        </c-widget-stat-a>
      </c-col>

      <c-col sm="6" lg="4" *ngIf="totalesTbk.saldoPorCobrar > 0">
        <c-widget-stat-a class="mb-3" color="warning" title="Saldo por Cobrar">
          <ng-template cTemplateId="widgetValueTemplate">
            <span class="fs-4">
              {{ totalesTbk.saldoPorCobrar | currency: 'CLP' : 'symbol-narrow' : '1.0-0' }}
            </span>
          </ng-template>
        </c-widget-stat-a>
      </c-col>
    </c-row>
    <c-row class="mt-4" *ngIf="totalesPorDocumento && totalesPorDocumento.length > 0">
      <c-col>
        <c-card class="shadow border-0">
          <c-card-body class="p-0">
            <table cTable hover bordered striped responsive class="mb-0 align-middle">
              <thead class="table-light">
                <tr>
                  <th scope="col" class="p-3 text-dark fw-bold">Tipo Documento</th>
                  <th scope="col" class="p-3 text-end text-dark fw-bold">Saldo Estimado</th>
                  <th scope="col" class="p-3 text-end text-dark fw-bold">Saldo por Cobrar</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of totalesPorDocumento">
                  <td class="p-3">
                    <div class="d-flex align-items-center">
                      <span
                        class="d-inline-block rounded-circle me-2"
                        [ngClass]="
                          item.TIPO_DOCUMENTO.includes('Débito') ? 'bg-info' : 'bg-success'
                        "
                        style="width: 8px; height: 8px"
                      >
                      </span>
                      <span class="fw-semibold">{{ item.TIPO_DOCUMENTO }}</span>
                    </div>
                  </td>
                  <td class="p-3 text-end font-monospace text-primary">
                    {{ item.SALDO_ESTIMADO | currency: 'CLP' : 'symbol-narrow' : '1.0-0' }}
                  </td>
                  <td class="p-3 text-end font-monospace">
                    <span
                      [ngClass]="{
                        'text-danger fw-bold': item.SALDO_POR_COBRAR > 0,
                        'text-muted opacity-50': item.SALDO_POR_COBRAR === 0,
                      }"
                    >
                      {{ item.SALDO_POR_COBRAR | currency: 'CLP' : 'symbol-narrow' : '1.0-0' }}
                    </span>
                  </td>
                </tr>
              </tbody>
            </table>
          </c-card-body>
        </c-card>
      </c-col>
    </c-row>
  </ng-container>
  <ng-template #loadingTemplate>
    <c-row class="text-center justify-content-center py-5">
      <c-col xs="auto">
        <c-spinner aria-hidden="true" size="lg"></c-spinner>
      </c-col>
    </c-row>
  </ng-template>
</c-container>

<!-- padre.component.html -->
<app-detalle-registro
  [visible]="modalHistorialRut"
  [modalHistorialRut]="modalHistorialRut"
  [rut]="rutSeleccionado"
  [cupon]="cuponSeleccionado"
  [cuota]="cuota"
  [tipo]="tipoBackend"
  (closeModal)="onCloseModal()"
></app-detalle-registro>
