<h1>Status cuadratura</h1>
<c-container>
  <br />
  <h4>Diario</h4>
  <hr />
  <c-row class="align-items-start">
    <c-col>
      <c-card color="light" class="mb-3">
        <c-card-header>Totales</c-card-header>
        <c-card-body>
          <h2>{{ totalDiario }}</h2>
        </c-card-body>
        <c-card-footer
          ><button
            cButton
            color=""
            textColor="white"
            variant="outline"
            (click)="RedirectTbkRegistros('total')"
          >
            Revisar
          </button>
        </c-card-footer>
      </c-card>
    </c-col>
    <c-col>
      <c-card color="success" textColor="white" class="mb-3">
        <c-card-header>Sin conflictos</c-card-header>
        <c-card-body>
          <h2>{{ aprobadosDiario }}</h2>
        </c-card-body>
        <c-card-footer
          ><button
            cButton
            color=""
            textColor="white"
            variant="outline"
            (click)="RedirectTbkRegistros('aprobados')"
          >
            Revisar
          </button>
        </c-card-footer>
      </c-card>
    </c-col>
    <c-col>
      <c-card color="danger" textColor="white" class="mb-3">
        <c-card-header>Con conflictos</c-card-header>
        <c-card-body>
          <h2>{{ rechazadosDiario }}</h2>
        </c-card-body>
        <c-card-footer
          ><button
            cButton
            color=""
            textColor="white"
            variant="outline"
            (click)="RedirectTbkRegistros('rechazados')"
          >
            Revisar
          </button>
        </c-card-footer>
      </c-card>
    </c-col>
    <c-col>
      <c-card color="info" textColor="white" class="mb-3">
        <c-card-header>Reprocesados</c-card-header>
        <c-card-body>
          <h2>{{ reprocesadosDiario }}</h2>
        </c-card-body>
        <c-card-footer
          ><button
            cButton
            color=""
            textColor="white"
            variant="outline"
            (click)="RedirectTbkRegistros('reprocesados')"
          >
            Revisar
          </button>
        </c-card-footer>
      </c-card>
    </c-col>
    <c-col>
      <c-card color="primary" textColor="white" class="mb-3">
        <c-card-body>
          <button
            cButton
            color=""
            textColor="white"
            variant="outline"
            [disabled]="rechazadosDiario > 0"
            (click)="enviarTesoreria()"
          >
            Enviar a tesorería
          </button>
        </c-card-body>
      </c-card>
    </c-col>
  </c-row>
  <hr />
  <h4>Mensual</h4>
  <c-row class="align-items-start">
    <c-col>
      <c-card color="light" class="mb-3">
        <c-card-header>Totales</c-card-header>
        <c-card-body>
          <h2>0</h2>
        </c-card-body>
        <c-card-footer
          ><button cButton color="" textColor="white" variant="outline">Revisar</button>
        </c-card-footer>
      </c-card>
    </c-col>
    <c-col>
      <c-card color="success" textColor="white" class="mb-3">
        <c-card-header>Sin conflictos</c-card-header>
        <c-card-body>
          <h2>0</h2>
        </c-card-body>
        <c-card-footer
          ><button cButton color="" textColor="white" variant="outline">Revisar</button>
        </c-card-footer>
      </c-card>
    </c-col>
    <c-col>
      <c-card color="danger" textColor="white" class="mb-3">
        <c-card-header>Con conflictos</c-card-header>
        <c-card-body>
          <h2>0</h2>
        </c-card-body>
        <c-card-footer
          ><button cButton color="" textColor="white" variant="outline">Revisar</button>
        </c-card-footer>
      </c-card>
    </c-col>
    <c-col>
      <c-card color="info" textColor="white" class="mb-3">
        <c-card-header>Reprocesados</c-card-header>
        <c-card-body>
          <h2>0</h2>
        </c-card-body>
        <c-card-footer
          ><button cButton color="" textColor="white" variant="outline">Revisar</button>
        </c-card-footer>
      </c-card>
    </c-col>
  </c-row>
</c-container>

<app-tbk-registros
  [visible]="viewModalRegistros"
  [viewModalRegistros]="viewModalRegistros"
  (closeModal)="onCloseModal()"
  [registrosTbk]="registrosTbk"
></app-tbk-registros>
